#apppage3 .view {
    background-image: url('../../../../assets/MainPageBack/bg27.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    }
    
    #apppage3 h6 {
    line-height: 1.7;
    }
    #apppage3 .gradient {
		background: -moz-linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
		background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
		background: -webkit-gradient(linear, 360deg, from rgba(0, 0, 0, 0.7), to rgba(0, 0, 0, 0.7));
		background: -o-linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
		background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
    }

        .CardHeader5{
        height: 70% !important;
        background-color:#3E4551!important;
        opacity: 0.9 !important;       
      }

      .cardstyles4{
        background: #eceff1 !important;
        opacity: 0.9 !important;
        border-radius: 0.5em 0.5em 0.5em 0.5em !important;
        box-shadow: 0px 2px 0px #ffff!important;
        height: 90% !important;
         margin-top: 4% !important;
         margin-left: 15% !important; 
        margin-right: 15% !important;
        box-shadow: 5px #fff !important;
      
      }
      .cardstyles3{
        background: #eceff1 !important;
        opacity: 0.9 !important;
        border-radius: 0.5em 0.5em 0.5em 0.5em !important;
        box-shadow: 0px 2px 0px #ffff!important;
        height: 90% !important;
         margin-top: 3% !important;
         margin-left: 15% !important; 
        margin-right: 15% !important;
        box-shadow: 5px #fff !important;
      
      }
      .adminLogOutButton3{
        margin-left: 17% !important;
        /* background: #0d47a1 !important; */
        opacity: 0.8 !important;
        width: 60% !important;
        margin-top: -1.5% !important;
  
      }
      .CardHeader6{
        height: 60% !important;
        background-color:#3E4551 !important;
        opacity: 0.9 !important;
        
      }

      .AdminNames2{
          margin-left: 30% !important;
          color: #0099CC !important;
          font-family: georgia !important;
      }